---

permalink: /contact/
metaTitle: OneQode™ • Contact Our Company
metaDescription: Get in touch with the friendly OneQode team, or find our address, ABN, Carrier Licence details, and contact emails.
changefreq: yearly
priority: 0.5
form: true
pageSupertitle: Contact
pageTitle: Get in touch with our team
pageSubtitle: Contact our team.

---
{% include _header.liquid %}
		<style>
			section.hero {
				background: linear-gradient(to bottom, transparent 50%, #000 100%), radial-gradient(circle at bottom,#002735 0,#000 100%);
			}
			@media (max-width: 64em) {
				.full-height {
					padding-top: 8rem !important;
				}
			}
		</style>
		<section class="hero full-height">
			<div class="container">
				<div class="row top-xs">
					<div class="col-xs-12 col-md-5 my-2">
						<p class="superheading">{{ pageSupertitle }}</p>
						<h1>{{ pageTitle }}<mark class="dot">.</mark></h1>
						<p class="subheading">{{ pageSubtitle }}</p>
					</div>
					<div class="col-xs-12 col-md-7 my-2">
						{% include forms/_home-generic.liquid %}
					</div>
				</div>
			</div>
		</section>
		<section class="black-to-footer pb-4">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<p><strong>OneQode Assets Pty Ltd</strong> <br>3/38 High Street, Kippa Ring<br>Queensland 4021</p>
					</div>
					<div class="col-md-4">
						<p>ABN: <br><strong><a href="https://abr.business.gov.au/ABN/View?abn=12637271839" title="OneQode — Australian Business Register" target="_blank" rel="noopener">12 637 271 839</a></strong></p>
						<p>Carrier: <br><strong><a href="https://data.gov.au/data/dataset/52db5013-1a63-4d14-90f8-c19fb6289695/resource/0a7d3bc5-737c-4d65-b01a-fa2ebb85dbaa" title="Australian Government - ACMA Carrier Licence" target="_blank" rel="noopener">Licence 525</a></strong></p>
					</div>
					<div class="col-md-4">
						<p>General Enquiries: <br><a href="mailto:{{ global.contactEmail }}">{{ global.contactEmail }}</a></p>	
						<p>Complaints: <br><a href="mailto:{{ global.complaintsEmail }}">{{ global.complaintsEmail }}</a></p>
						<p>Media: <br><a href="mailto:{{ global.mediaEmail }}">{{ global.mediaEmail }}</a></p>
					</div>
				</div>
			</div>
		</section>
{% include _footer.liquid %}