<!DOCTYPE html>
<!--

        .:++ooo+/:.    
      :oooooooooooo+-  
    `+ooo+-`` `.:oooo/ 
    /ooo/        `+ooo-
    oooo.  `:///: :ooo/
    /ooo/   .+ooo++ooo-
    `+ooo+-.``:oooooo/ 
      :ooooooo-.oooo+` 
        .:++ooo:`/oooo-


	You should be here →
	https://www.oneqode.com/careers/

-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Page Info -->
	<title>{{ metaTitle }}</title>
	<meta property="og:title" content="{{ metaTitle }}" />
	<meta name="description" content="{{ metaDescription }}" />
	<meta property="og:description" content="{{ metaDescription }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ global.url }}{{ page.url }}" />
	<meta property="og:site_name" content="OneQode" />
	<meta property="og:image" content="{{ global.url }}/img/og/{{ ogImage }}"/>
	<meta property="article:publisher" content="https://www.facebook.com/oneqode" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:description" content="{{ metaDescription }}">
	<meta name="twitter:image" content="{{ global.url }}/img/og/{{ ogImage }}" />
	<meta name="twitter:title" content="{{ metaTitle }}" />
	<meta name="twitter:site" content="@oneqode" />
	<meta name="twitter:creator" content="@oneqode" />
{%- if ignore %}
	<meta name="robots" content="noindex">
{%- endif %}
{%- if canonical %}
	<link rel="canonical" href="{{ canonical }}">
{%- endif %}
{%- if mediaRSS %}
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for OneQode Newsroom" href="/media-feed.xml" />
{%- endif %}
{%- if careersRSS %}
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for OneQode Careers" href="/careers-feed.xml" />
{%- endif %}
{%- if contentRSS %}
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for The Qode" href="/content-feed.xml" />
{%- endif %}
	<!-- Organisation Info -->
	<script type="application/ld+json">
		{
			"@context":"https://schema.org",
			"@type":"Organization",
			"name":"OneQode",
			"url":"https://www.oneqode.com/",
			"logo":"https://www.oneqode.com/img/symbol.svg",
			"address":{
				"@type":"PostalAddress",
				"streetAddress":"2/311 Thynne Road",
				"addressLocality":"Morningside",
				"addressRegion":"Queensland",
				"postalCode":"4170",
				"addressCountry":"Australia"
			},
			"contactPoint":{
				"@type":"ContactPoint",
				"contactType":"contact",
				"telephone":"{{ global.contactNumber }}",
				"email":"{{ global.contactEmail }}"
			},
			"sameAs":[
				"https://www.linkedin.com/company/oneqode/",
				"https://twitter.com/oneqode"
			]
		}
	</script>
	<!-- Performance -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{%- if slider or form %}
	<link rel="preconnect" href="https://unpkg.com">
{%- endif %}
	<!-- Styles -->
	<link rel="stylesheet" href="/css/production.min.css">
{%- if slider %}
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
{%- endif %}
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
	<!-- Shortcut Icons -->
	<link rel="icon" href="/img/favicon.svg">
	<link rel="apple-touch-icon" href="/img/favicon.png" />
	<meta name="msapplication-TileImage" content="/img/favicon.png" />
	<!-- Status Bar -->
	<meta name="theme-color" content="#00b0f0">
	<meta name="msapplication-navbutton-color" content="#00b0f0">
	<meta name="apple-mobile-web-app-status-bar-style" content="#00b0f0">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5FZ7DSW');</script>
	<!-- Site JS -->
	<script src="/js/production.js"></script>
{%- if slider %}
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
{%- endif %}
{%- if form %}
	<!-- Spam Protection -->
	<script src="https://unpkg.com/@botpoison/browser"></script>
{%- endif %}
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FZ7DSW"
	height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header id="header">
		<div class="container">
			<a href="/" title="Go to the OneQode homepage" class="logo">
				<img src="/img/logo.svg" alt="OneQode Logo">
			</a>
			<div class="nav-open" onclick="toggleNav()">
				<img src="/img/ico/open.svg" alt="" aria-hidden="true">
				&nbsp;Menu
			</div>
			<nav class="main" aria-label="Main Navigation">
				<div class="nav-blank" onclick="toggleNav()"></div>
				<ul>
					<li class="has-submenu">
						<a href="#" style="--index: 5" aria-haspopup="true" aria-expanded="false">Solutions 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li>
									<a href="/for/business-enterprise/" style="--order:1">
										Business & Enterprise
										<span>Infrastructure for organisations</span>
									</a>
								</li>
								<li>
									<a href="/for/game-industry/" style="--order:2">
										Game Industry
										<span>Developers, studios & publishers</span>
									</a>
								</li>
								<li>
									<a href="/for/server-providers/" style="--order:3">
										Server Providers
										<span>Resellers & middleware</span>
									</a>
								</li>
								<li>
									<a href="/for/esports/" style="--order:4">
										Esports
										<span>Tournament orgs, & players</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="has-submenu">
						<a href="#" style="--index: 4" aria-haspopup="true" aria-expanded="false">Platform 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li>
									<a href="/cloud/" style="--order:1">
										Cloud Platform
										<span>The world's fastest cloud, designed <br>for gaming & real-time applications</span>
									</a>
								</li>
								<li>
									<a href="/network/" style="--order:2">
										International Network
										<span>Latency-optimised network that <br>reaches 1.45 billion people</span>
									</a>
								</li>
								<li>
									<a href="/game-servers/" style="--order:3">
										Dedicated Servers
										<span>High performance servers, built on <br>the quickest CPUs on the market</span>
									</a>
								</li>
								<li style="--order: 4">
									<a href="/ip-transit/">IP Transit</a>
								</li>
								<li style="--order: 5">
									<a href="/ethernet/">Ethernet</a>
								</li>
								<li style="--order: 6">
									<a href="/backhaul/">Backhaul</a>
								</li>
								<li style="--order: 7">
									<a href="/backhaul/"><strong><mark>Features</mark></strong></a>
								</li>
								<li class="parent">
									<a href="/guam/" style="--order:4">
										APAC Central
										<span>Asia-Pacific’s newest server region</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="/pricing/" style="--index: 3;">Pricing</a></li>
					<li class="has-submenu">
						<a href="#" style="--index: 2" aria-haspopup="true" aria-expanded="false">
							Resources 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li>
									<a href="https://docs.oneqode.com" target="_blank" style="--order:1">Documentation</a>
								</li>
								<li>
									<a href="/case-study/guam-csgo/" style="--order:2">CS:GO Case Study</a>
								</li>
								<li class="parent">
									<a href="/content/" style="--order:3">
										The Qode
										<span>Stories, articles & resources</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="/contact/" class="faded" style="--index: 1;">Login</a></li>
				</ul>
				<div class="nav-close" onclick="toggleNav()">
					<img src="/img/ico/close.svg" alt="" aria-hidden="true">
					&nbsp;Close
				</div>
			</nav>
		</div>
	</header>
	<main>