<!DOCTYPE html>
<!--

        .:++ooo+/:.    
      :oooooooooooo+-  
    `+ooo+-`` `.:oooo/ 
    /ooo/        `+ooo-
    oooo.  `:///: :ooo/
    /ooo/   .+ooo++ooo-
    `+ooo+-.``:oooooo/ 
      :ooooooo-.oooo+` 
        .:++ooo:`/oooo-


	You should be here →
	https://www.oneqode.com/careers/

-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Page Info -->
	<title>{{ metaTitle }}</title>
	<meta property="og:title" content="{{ metaTitle }}" />
	<meta name="description" content="{{ metaDescription }}" />
	<meta property="og:description" content="{{ metaDescription }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ global.url }}{{ page.url }}" />
	<meta property="og:site_name" content="OneQode" />
	<meta property="og:image" content="{{ global.url }}/img/og/{{ ogImage }}"/>
	<meta property="article:publisher" content="https://www.facebook.com/oneqode" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:description" content="{{ metaDescription }}">
	<meta name="twitter:image" content="{{ global.url }}/img/og/{{ ogImage }}" />
	<meta name="twitter:title" content="{{ metaTitle }}" />
	<meta name="twitter:site" content="@oneqode" />
	<meta name="twitter:creator" content="@oneqode" />
{%- if ignore %}
	<meta name="robots" content="noindex">
{%- endif %}
{%- if canonical %}
	<link rel="canonical" href="{{ canonical }}">
{%- endif %}
{%- if mediaRSS %}
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for OneQode Newsroom" href="/media-feed.xml" />
{%- endif %}
{%- if careersRSS %}
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for OneQode Careers" href="/careers-feed.xml" />
{%- endif %}
{%- if contentRSS %}
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for The Qode" href="/content-feed.xml" />
{%- endif %}
	<!-- Organisation Info -->
	<script type="application/ld+json">
		{
			"@context":"https://schema.org",
			"@type":"Organization",
			"name":"OneQode",
			"url":"https://www.oneqode.com/",
			"logo":"https://www.oneqode.com/img/symbol.svg",
			"address":{
				"@type":"PostalAddress",
				"streetAddress":"2/311 Thynne Road",
				"addressLocality":"Morningside",
				"addressRegion":"Queensland",
				"postalCode":"4170",
				"addressCountry":"Australia"
			},
			"contactPoint":{
				"@type":"ContactPoint",
				"contactType":"contact",
				"telephone":"{{ global.contactNumber }}",
				"email":"{{ global.contactEmail }}"
			},
			"sameAs":[
				"https://www.linkedin.com/company/oneqode/",
				"https://twitter.com/oneqode"
			]
		}
	</script>
	<!-- Performance -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
{%- if slider or form %}
	<link rel="preconnect" href="https://unpkg.com">
{%- endif %}
{%- if font == "hack" %}
	<link rel="preconnect" href="https://cdn.jsdelivr.net">
{%- endif %}
	<!-- Styles -->
	<link rel="stylesheet" href="/css/production.min.css">
{%- if slider %}
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
{%- endif %}
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
{%- if font == "hack" %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack-subset.css">
{%- endif %}
	<!-- Shortcut Icons -->
	<link rel="icon" href="/img/favicon.svg">
	<link rel="apple-touch-icon" href="/img/favicon.png" />
	<meta name="msapplication-TileImage" content="/img/favicon.png" />
	<!-- Status Bar -->
	<meta name="theme-color" content="#00b0f0">
	<meta name="msapplication-navbutton-color" content="#00b0f0">
	<meta name="apple-mobile-web-app-status-bar-style" content="#00b0f0">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5FZ7DSW');</script>
	<!-- Site JS -->
	<script src="/js/production.js"></script>
{%- if slider %}
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
{%- endif %}
{%- if form %}
	<!-- Spam Protection -->
	<script src="https://unpkg.com/@botpoison/browser"></script>
{%- endif %}
{%- if fittext %}
	<script src="/js/fittext.js"></script>
{%- endif %}
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FZ7DSW"
	height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header id="header">
		<div class="container">
			<a href="/" title="Go to the OneQode homepage" class="logo">
				<img src="/img/logo.svg" alt="OneQode Logo">
			</a>
			<div class="nav-open" onclick="toggleNav()">
				<img src="/img/ico/open.svg" alt="" aria-hidden="true">
				&nbsp;Menu
			</div>
			<nav class="main" aria-label="Main Navigation">
				<div class="nav-blank" onclick="toggleNav()"></div>
				<ul>
					<li class="has-submenu">
						<a href="#" style="--index: 1" aria-haspopup="true" aria-expanded="false">Solutions 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li>
									<a href="/for/business-enterprise/" style="--order:1">
										Business & Enterprise
										<span>Infrastructure for organisations</span>
									</a>
								</li>
								<li>
									<a href="/for/game-industry/" style="--order:2">
										Game Industry
										<span>Developers, studios & publishers</span>
									</a>
								</li>
								<li>
									<a href="/for/server-providers/" style="--order:3">
										Server Providers
										<span>Resellers & middleware</span>
									</a>
								</li>
								<li>
									<a href="/for/esports/" style="--order:4">
										Esports
										<span>Tournament orgs, & players</span>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="has-submenu">
						<a href="#" style="--index: 2" aria-haspopup="true" aria-expanded="false">Platform 
							<svg xmlns="http://www.w3.org/2000/svg" width="0.65rem" height="0.65rem" fill="#fff" viewBox="0 0 24 24">
								<path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/>
							</svg>
						</a>
						<div class="submenu two-col-mobile">
							<ul>
								<li>
									<a href="/cloud/" class="linked-icon" style="--order:1">
										<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 60 60" xml:space="preserve">
											<path d="M50.976 26.194C50.447 17.194 43.028 10 34.085 10c-5.43 0-10.688 2.663-13.946 7.008-.075-.039-.154-.066-.23-.102a9.322 9.322 0 0 0-.604-.269 9.062 9.062 0 0 0-.962-.317c-.115-.031-.229-.063-.345-.089a9.567 9.567 0 0 0-.687-.125c-.101-.015-.2-.035-.302-.046A9.096 9.096 0 0 0 16 16c-4.963 0-9 4.037-9 9 0 .127.008.252.016.377v.004C2.857 27.649 0 32.399 0 37.154 0 44.237 5.762 50 12.845 50h24.508c.104 0 .207-.006.311-.014l.062-.008.134.008c.102.008.204.014.309.014h9.803C54.604 50 60 44.604 60 37.972c0-5.489-3.827-10.412-9.024-11.778zM47.972 48h-9.803c-.059 0-.116-.005-.174-.009l-.271-.011-.198.011c-.057.004-.115.009-.173.009H12.845C6.865 48 2 43.135 2 37.154 2 33 4.705 28.688 8.433 26.901L9 26.63V26c0-.127.008-.256.015-.386l.009-.16-.012-.21C9.006 25.163 9 25.082 9 25c0-3.859 3.141-7 7-7a6.995 6.995 0 0 1 1.15.103c.267.044.53.102.789.177.035.01.071.017.106.027.285.087.563.197.835.321.071.032.14.067.21.101A6.995 6.995 0 0 1 23 25a1 1 0 1 0 2 0 8.98 8.98 0 0 0-3.2-6.871C24.667 14.379 29.388 12 34.085 12c7.745 0 14.177 6.135 14.848 13.888-1.022-.072-2.552-.109-4.083.124a1 1 0 0 0 .3 1.977c2.227-.337 4.548-.021 4.684-.002C54.49 28.872 58 33.161 58 37.972 58 43.501 53.501 48 47.972 48z"/>
										</svg>
										<div class="content">
											Cloud Platform
											<span>The world's fastest cloud, designed <br>for gaming & real-time applications</span>
										</div>
									</a>
								</li>
								<li>
									<a href="/dedicated-servers/" class="linked-icon" style="--order:2">
										<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 60 60" xml:space="preserve">
											<path d="M10.5 6.5C8.019 6.5 6 8.519 6 11s2.019 4.5 4.5 4.5S15 13.481 15 11s-2.019-4.5-4.5-4.5zm0 7C9.122 13.5 8 12.379 8 11s1.122-2.5 2.5-2.5S13 9.621 13 11s-1.122 2.5-2.5 2.5z"/><circle cx="50" cy="9.5" r="1"/><circle cx="46" cy="9.5" r="1"/><circle cx="52" cy="12.5" r="1"/><circle cx="48" cy="12.5" r="1"/><circle cx="42" cy="9.5" r="1"/><circle cx="44" cy="12.5" r="1"/><circle cx="38" cy="9.5" r="1"/><circle cx="40" cy="12.5" r="1"/><circle cx="34" cy="9.5" r="1"/><circle cx="36" cy="12.5" r="1"/><path d="M60 16.892V5.108A4.613 4.613 0 0 0 55.392.5H4.608A4.613 4.613 0 0 0 0 5.108v11.783c0 1.469.703 2.764 1.777 3.608C.703 21.344 0 22.64 0 24.108v11.783c0 1.469.703 2.764 1.777 3.608C.703 40.344 0 41.64 0 43.108v11.783A4.613 4.613 0 0 0 4.608 59.5h50.783a4.613 4.613 0 0 0 4.608-4.608V43.108c0-1.469-.703-2.764-1.777-3.608C59.297 38.656 60 37.36 60 35.892V24.108c0-1.469-.703-2.764-1.777-3.608C59.297 19.656 60 18.36 60 16.892zm-2 26.216v11.783a2.611 2.611 0 0 1-2.608 2.608H4.608A2.61 2.61 0 0 1 2 54.892V43.108A2.611 2.611 0 0 1 4.608 40.5h50.783A2.611 2.611 0 0 1 58 43.108zm0-19v11.783a2.611 2.611 0 0 1-2.608 2.608H4.608A2.61 2.61 0 0 1 2 35.892V24.108A2.611 2.611 0 0 1 4.608 21.5h50.783A2.611 2.611 0 0 1 58 24.108zM4.608 19.5A2.611 2.611 0 0 1 2 16.892V5.108A2.611 2.611 0 0 1 4.608 2.5h50.783A2.611 2.611 0 0 1 58 5.108v11.783a2.611 2.611 0 0 1-2.608 2.608H4.608z"/><path d="M10.5 34.5c2.481 0 4.5-2.019 4.5-4.5s-2.019-4.5-4.5-4.5S6 27.519 6 30s2.019 4.5 4.5 4.5zm0-7c1.378 0 2.5 1.121 2.5 2.5s-1.122 2.5-2.5 2.5S8 31.379 8 30s1.122-2.5 2.5-2.5z"/><circle cx="50" cy="28.5" r="1"/><circle cx="46" cy="28.5" r="1"/><circle cx="52" cy="31.5" r="1"/><circle cx="48" cy="31.5" r="1"/><circle cx="42" cy="28.5" r="1"/><circle cx="44" cy="31.5" r="1"/><circle cx="38" cy="28.5" r="1"/><circle cx="40" cy="31.5" r="1"/><circle cx="34" cy="28.5" r="1"/><circle cx="36" cy="31.5" r="1"/><path d="M10.5 53.5c2.481 0 4.5-2.019 4.5-4.5s-2.019-4.5-4.5-4.5S6 46.519 6 49s2.019 4.5 4.5 4.5zm0-7c1.378 0 2.5 1.121 2.5 2.5s-1.122 2.5-2.5 2.5S8 50.379 8 49s1.122-2.5 2.5-2.5z"/><circle cx="50" cy="47.5" r="1"/><circle cx="46" cy="47.5" r="1"/><circle cx="52" cy="50.5" r="1"/><circle cx="48" cy="50.5" r="1"/><circle cx="42" cy="47.5" r="1"/><circle cx="44" cy="50.5" r="1"/><circle cx="38" cy="47.5" r="1"/><circle cx="40" cy="50.5" r="1"/><circle cx="34" cy="47.5" r="1"/><circle cx="36" cy="50.5" r="1"/>
										</svg>
										<div class="content">
											Dedicated Servers
											<span>High performance servers, built on <br>the quickest CPUs on the market</span>
										</div>
									</a>
								</li>
								<li>
									<a href="/network/" class="linked-icon" style="--order:3">
										<svg height="512" viewBox="0 0 60 60" width="512" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
											<path d="M56 30a25.6 25.6 0 0 0-2.121-10.262c3.559-5.444 8.567-14.622 4.778-18.395-3.068-3.071-9.7-.339-15 2.692a3.953 3.953 0 0 0-6.171 1.089 25.728 25.728 0 0 0-17.751 1C14.292 2.563 5.114-2.443 1.343 1.343c-3.07 3.07-.339 9.706 2.692 15a3.953 3.953 0 0 0 1.089 6.171 25.511 25.511 0 0 0 0 14.978 3.953 3.953 0 0 0-1.089 6.168C1 48.951-1.727 55.587 1.342 58.656a5.071 5.071 0 0 0 3.742 1.351c4.427 0 10.583-3.468 14.655-6.127a25.732 25.732 0 0 0 17.75 1 3.954 3.954 0 0 0 6.174 1.087c3.65 2.092 7.933 4.042 11.253 4.042a5.08 5.08 0 0 0 3.74-1.347c3.79-3.774-1.218-12.951-4.777-18.4A25.593 25.593 0 0 0 56 30zm-3.471 8.261c-.767-1.1-1.6-2.244-2.492-3.412a6.97 6.97 0 0 0 0-9.7 99.815 99.815 0 0 0 2.492-3.412 23.932 23.932 0 0 1 0 16.522zM19.557 51.593a23.911 23.911 0 0 1-9.417-8.144 3.973 3.973 0 0 0-3.075-6.442 23.583 23.583 0 0 1 0-14.014 3.973 3.973 0 0 0 3.075-6.442 23.9 23.9 0 0 1 9.417-8.143c3.41 2.317 6.68 4.832 9.794 7.532a133.841 133.841 0 0 1 7.632 7.077c.945.945 1.784 1.808 2.552 2.62a6.968 6.968 0 0 0 0 8.726c-.768.812-1.607 1.675-2.552 2.62a134.034 134.034 0 0 1-7.635 7.08 105.488 105.488 0 0 1-9.791 7.53zM40 30a5 5 0 1 1 10 0 5 5 0 0 1-10 0zM57.244 2.758c1.888 1.882.168 7.634-4.382 14.867a25.908 25.908 0 0 0-8.18-9.064 3.853 3.853 0 0 0 .085-2.853c6.084-3.459 10.833-4.596 12.477-2.95zM41 5a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm-3.993 2.065a3.973 3.973 0 0 0 6.442 3.075 23.9 23.9 0 0 1 8.151 9.422 95.03 95.03 0 0 1-3.136 4.36 6.955 6.955 0 0 0-7.464.346 128.236 128.236 0 0 0-2.6-2.665 135.267 135.267 0 0 0-7.745-7.181 109.683 109.683 0 0 0-8.926-6.947 23.778 23.778 0 0 1 15.281-.41zM2.758 2.756C4.639.868 10.391 2.59 17.625 7.138a25.9 25.9 0 0 0-9.063 8.18A3.989 3.989 0 0 0 7 15c-.44.005-.877.084-1.292.233C2.249 9.147 1.111 4.4 2.758 2.756zM7 17a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm0 22a2 2 0 1 1 0 4 2 2 0 0 1 0-4zM2.757 57.243c-1.646-1.646-.508-6.39 2.951-12.476.415.15.851.228 1.292.233.537 0 1.068-.108 1.562-.318a25.891 25.891 0 0 0 9.062 8.18C10.39 57.41 4.638 59.131 2.757 57.243zm18.97-4.718a110.084 110.084 0 0 0 8.922-6.944 135.458 135.458 0 0 0 7.748-7.184c.961-.961 1.815-1.838 2.6-2.665a6.955 6.955 0 0 0 7.464.346 95.03 95.03 0 0 1 3.136 4.36 23.893 23.893 0 0 1-8.146 9.422 3.973 3.973 0 0 0-6.442 3.075 23.775 23.775 0 0 1-15.28-.41zM41 55a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm16.243 2.243c-1.645 1.646-6.389.51-12.476-2.951a3.853 3.853 0 0 0-.085-2.853 25.9 25.9 0 0 0 8.18-9.064c4.55 7.233 6.27 12.986 4.381 14.868z" />
										</svg>
										<div class="content">
											International Network
											<span>Latency-optimised network that <br>reaches 1.45 billion people</span>
										</div>
									</a>
								</li>
								<li>
									<a href="/guam/" class="linked-icon" style="--order: 4">
										<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 60 60" fill="currentColor">
											<path d="m41 2.1.14.06A14 14 0 0 1 45 6c.61 1.73 2.11 3.71 5.74 3.71.45 0 .9 0 1.33-.06-.08.2-.13.33-.17.41a4.68 4.68 0 0 0-1.5 1.67 2 2 0 0 0-.28 1.15 5.15 5.15 0 0 1-.48 2.62 2.63 2.63 0 0 0-.22.55 4 4 0 0 1-1 1.88c-2.38.26-4 1.06-4.75 2.39a3.45 3.45 0 0 0-.46 1.45c-1.43.43-2.66 1.74-3.86 3A14.46 14.46 0 0 1 38.2 26a10.59 10.59 0 0 0-3.65 2.67c-.15.14-.27.27-.35.33s-1.13.79-2 1.32a1.74 1.74 0 0 0-.42.34 5 5 0 0 0-1.31.19c-2.21.6-3 2.21-2.88 3.45a2.38 2.38 0 0 0 .14.54v.06a2 2 0 0 0-.2 1.1.51.51 0 0 1-.12.21A4.44 4.44 0 0 0 26 39.42a6.93 6.93 0 0 1-.25 1 2.26 2.26 0 0 0-.63 1.81 2.3 2.3 0 0 0 .65 1.37c0 .15 0 .32.07.48l-.52.27a2.11 2.11 0 0 0-1.39 2.46 2 2 0 0 0 1.71 1.51 5.19 5.19 0 0 0 .49 2.21 2.36 2.36 0 0 1-.31.77l-.38.39a3.79 3.79 0 0 0-1.25 2v.07c-.45.26-1.42.84-1.73 1a2.85 2.85 0 0 0-1.21 1.89L19.91 58h-1.05a8 8 0 0 1-.9 0 4.94 4.94 0 0 0-3.37-1.16c-.25-.2-.64-.56-1.06-1a3.26 3.26 0 0 0-.63-2.51 2.31 2.31 0 0 1-.29-.81 4.19 4.19 0 0 0-.33-1.86 3.35 3.35 0 0 0-.35-2.37l-.11-.19a8 8 0 0 0-1-2.35 1.83 1.83 0 0 0-.35-.44 13.68 13.68 0 0 0 1-3.4c.07-.33.17-.79.21-.92a13.63 13.63 0 0 1 1.09-1.89l.22-.34a3 3 0 0 0 0-2.9 3 3 0 0 0 2.11-2.09 3.29 3.29 0 0 0 .16-1.5 3.11 3.11 0 0 0 .49-.53 3 3 0 0 0 .59-2A2.52 2.52 0 0 0 18 28.1c.19 0 .4.07.59.11a4.36 4.36 0 0 0 .95.14 2.14 2.14 0 0 0 1.06-.27l.12-.06.7-.39a2.73 2.73 0 0 0 1.26.31 2.91 2.91 0 0 0 1.68-.56 3.49 3.49 0 0 0 .54.15 1.69 1.69 0 0 0 .38 0 2.19 2.19 0 0 0 .36 0H26.36a3.38 3.38 0 0 0 3.12-1.88 4.1 4.1 0 0 0 .35-2.29 3 3 0 0 0 .89.14 3.72 3.72 0 0 0 3.1-2 3 3 0 0 0 .43-2.95 2.36 2.36 0 0 0-.2-.31 4.25 4.25 0 0 1-.14-.52 4 4 0 0 0 1.13-2 4.52 4.52 0 0 0 1.44-2l.06-.08a8.67 8.67 0 0 0 1.16-1.54c.22-.26.55-.66.9-1.15a3.87 3.87 0 0 0 .67-4 7.57 7.57 0 0 1-.23-2A11.13 11.13 0 0 0 41 2.19V2.1M40.91 0c-.42 0-.91.23-1.62 1.05A8.26 8.26 0 0 1 37.4 3.7c-.52.36-.31 2.79 0 3.77a2 2 0 0 1-.4 2.26c-.69.95-1.26 1.5-1.13 1.51a13.4 13.4 0 0 1-1.13 1.51c0 .08-.46 1.42-1.13 1.51s-.18 2-1.51 2.26c-.61.32 0 2.81.38 3 .12.24-.65 2-1.75 2a1.07 1.07 0 0 1-.52-.14 1.65 1.65 0 0 0-.78-.18c-1.17 0-2.31 1.11-1.86 1.69s.5 2.66-1.2 2.66a1.67 1.67 0 0 1-.31 0l-.84-.09a.61.61 0 0 1 .09.09s-.55-.11-.33-.11h.24a1.18 1.18 0 0 0-.83-.38 1.4 1.4 0 0 0-1 .47 1 1 0 0 1-.73.37c-.6 0-1-.76-1.13-.76a15.21 15.21 0 0 1-1.89 1.13h-.1a15.58 15.58 0 0 0-1.77-.27 1.43 1.43 0 0 0-1.52 1c-.14.39-.24.63-.41.63s-.2-.08-.35-.25a.8.8 0 0 0-.61-.2 2.64 2.64 0 0 0-1.65.58c-.08.1-.13.14-.18.14s-.18-.31-.58-.52A7.19 7.19 0 0 0 9.84 27a5 5 0 0 0-2.24.45c-1.62.84-1.95 1.6-1.89 1.89h.07c.42 0 1.28-.85 1.82-1.14a6 6 0 0 1 2-.27 3.62 3.62 0 0 1 2.5.65c.11.41-.9 1-.76 1.13a.36.36 0 0 0 .21.05 2.89 2.89 0 0 0 1.3-.42 1.38 1.38 0 0 1 .72-.23.79.79 0 0 1 .79.6 1.14 1.14 0 0 1-.9 1.25.26.26 0 0 1-.23-.12.28.28 0 0 0-.23-.1c-.48 0-1.31.79-.53 1.24h.12c.5 0 .91.27.64 1.14a1 1 0 0 1-.88.77.7.7 0 0 1-.63-.4c-.3-.59.33-2.64-.36-2.64-.47 0-1.45.23-2.4.23a3.35 3.35 0 0 1-1.37-.23C6.7 30.46 6.21 30 5.73 30a.66.66 0 0 0-.39.12c-.63.4-.07 1.65 1.13 1.89.82.39 1.5.69 1.22 2 0 .49.18.63.42.63a1.58 1.58 0 0 0 .71-.25s-.15.79.49.79h.27a.32.32 0 0 1 .14 0c.92 0 1.95 2.1 1.65 2.56a16.39 16.39 0 0 0-1.51 2.64c-.3.87-.66 3.85-1.51 4.53s-.63 1.26.76 1.89a5.17 5.17 0 0 1 .75 1.88 3.37 3.37 0 0 0 .38.76 1.68 1.68 0 0 1 0 1.13c-.15.46.44 1.23.38 1.89a3.79 3.79 0 0 0 .75 2.26c.41.46 0 1.88 0 1.88s2.11 2.2 2.64 2.27 2.2 0 2.64.75c.22.38 1.24.48 2.21.48s1.94-.1 1.94-.1l2.26-2.26s0-.9.38-1.14l1.89-1.13a2.47 2.47 0 0 0 .75-1.13c.11-.56.33-.67 1.13-1.51s1.19-2.93.76-3-.38-2.64-.38-2.64a1.23 1.23 0 0 0-1.09-.82 1.41 1.41 0 0 0-.42.07l-.23.06c-.19 0 2.26-1 2.12-1.57s-.38-2.26-.38-2.26-.86-.4-.38-.76.76-2.26.76-2.26a2.44 2.44 0 0 1 .75-1.89 2.4 2.4 0 0 0 .76-1.88l.37-.76s.54-.75 0-.75c-.53 0-.43-1.09 1.14-1.51a2.9 2.9 0 0 1 .78-.12c.76 0 .73.5.73.5l.75-1.24s1.75-1.1 2.26-1.52 2.2-2.32 3.4-2.64 3.6-4.22 5.3-4.22a.92.92 0 0 1 .36.07h.06c.46 0 .69-1.13.69-1.13s-1-2.19 3.4-2.64c1.89-.26 2.64-3.4 2.64-3.4a7.08 7.08 0 0 0 .75-3.77c1.14-1.91 1.17-.06 2.26-3.77.14 0 1.36-1.54-.39-1.54a2.49 2.49 0 0 0-.37 0 28.86 28.86 0 0 1-2.89.24c-1.67 0-3.23-.46-3.9-2.51A14.89 14.89 0 0 0 41.93.3a3.14 3.14 0 0 0-1-.3Z"/>
										</svg>
										<div class="content">
											APAC Central
											<span>Asia-Pacific’s newest server region<br> located on the island of Guam</span>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</li>
					<li><a href="/pricing/" style="--index: 3;">Pricing</a></li>
					<li><a href="/about/" style="--index: 4;">About</a></li>
					<li><a href="{{ global.login }}" class="faded" rel="noopener" style="--index: 5;">Login</a></li>
				</ul>
				<div class="nav-close" onclick="toggleNav()">
					<img src="/img/ico/close.svg" alt="" aria-hidden="true">
					&nbsp;Close
				</div>
			</nav>
		</div>
	</header>
	<main>