<!DOCTYPE html>
<!--

        .:++ooo+/:.    
      :oooooooooooo+-  
    `+ooo+-`` `.:oooo/ 
    /ooo/        `+ooo-
    oooo.  `:///: :ooo/
    /ooo/   .+ooo++ooo-
    `+ooo+-.``:oooooo/ 
      :ooooooo-.oooo+` 
        .:++ooo:`/oooo-


	You should be here →
	https://www.oneqode.com/careers/

-->
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Page Info -->
	<title>{{ metaTitle }}</title>
	<meta property="og:title" content="{{ metaTitle }}" />
	<meta name="description" content="{{ metaDescription }}" />
	<meta property="og:description" content="{{ metaDescription }}" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ global.url }}{{ page.url }}" />
	<meta property="og:site_name" content="OneQode" />
	<meta property="og:image" content="{{ global.url }}/img/og/{{ ogImage }}"/>
	<meta property="article:publisher" content="https://www.facebook.com/oneqode" />
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:description" content="{{ metaDescription }}">
	<meta name="twitter:image" content="{{ global.url }}/img/og/{{ ogImage }}" />
	<meta name="twitter:title" content="{{ metaTitle }}" />
	<meta name="twitter:site" content="@oneqode" />
	<meta name="twitter:creator" content="@oneqode" />
	{%- if ignore %}
	<meta name="robots" content="noindex">
	{%- endif %}
	{%- if canonical %}
	<link rel="canonical" href="{{ global.url }}{{ canonical }}">
	{%- endif %}
	{%- if mediaRSS %}
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for OneQode Newsroom" href="/media-feed.xml" />
	{%- endif %}
	{%- if careersRSS %}
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for OneQode Careers" href="/careers-feed.xml" />
	{%- endif %}
	{%- if contentRSS %}
	<link rel="alternate" type="application/rss+xml" title="RSS Feed for The Qode" href="/content-feed.xml" />
	{%- endif %}
	<!-- Organisation Info -->
	<script type="application/ld+json">
		{
			"@context":"https://schema.org",
			"@type":"Organization",
			"name":"OneQode",
			"url":"https://www.oneqode.com/",
			"logo":"https://www.oneqode.com/img/symbol.svg",
			"address":{
				"@type":"PostalAddress",
				"streetAddress":"2/311 Thynne Road",
				"addressLocality":"Morningside",
				"addressRegion":"Queensland",
				"postalCode":"4170",
				"addressCountry":"Australia"
			},
			"contactPoint":{
				"@type":"ContactPoint",
				"contactType":"contact",
				"telephone":"{{ global.contactNumber }}",
				"email":"{{ global.contactEmail }}"
			},
			"sameAs":[
				"https://www.linkedin.com/company/oneqode/",
				"https://twitter.com/oneqode"
			]
		}
	</script>
	<!-- Styles -->
	<link rel="stylesheet" href="/css/production.min.css">
	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Work+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
	<!-- Shortcut Icons -->
	<link rel="icon" href="/img/favicon.svg">
	<link rel="apple-touch-icon" href="/img/favicon.png" />
	<meta name="msapplication-TileImage" content="/img/favicon.png" />
	<!-- Status Bar -->
	<meta name="theme-color" content="#00b0f0">
	<meta name="msapplication-navbutton-color" content="#00b0f0">
	<meta name="apple-mobile-web-app-status-bar-style" content="#00b0f0">
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-5FZ7DSW');</script>
	<!-- Site JS -->
	<script src="/js/production.js"></script>
{%- if form %}
	<!-- Spam Protection -->
	<script src="https://unpkg.com/@botpoison/browser"></script>
{%- endif %}
</head>
<body>
	<!-- Google Tag Manager (noscript) -->
	<noscript>
		<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5FZ7DSW"
	height="0" width="0" style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager (noscript) -->
	<header id="header">
		<div class="container">
			<a href="
				{%- if page.url == "/" or page.url == "/business/" or page.url == "/wholesale/" -%}
					/
				{%- else -%}
					{%- case section -%}
						{%- when "gaming" -%}
							/
						{%- when "business" -%}
							/business/
						{%- when "wholesale" -%}
							/wholesale/
						{%- else -%}
							/
					{%- endcase -%}
				{%- endif -%}
				" title="
				{%- if page.url == "/" or page.url == "/business/" or page.url == "/wholesale/" -%}
					Go to the OneQode homepage
				{%- else -%}
					{%- case section -%}
						{%- when "gaming" -%}
							Go to the OneQode homepage
						{%- when "business" -%}
							Go to the OneQode for Business homepage
						{%- when "wholesale" -%}
							Go to the OneQode for Wholesale homepage
						{%- else -%}
							Go to the OneQode homepage
					{%- endcase -%}
				{%- endif -%}
				" class="logo">
				<img src="/img/logo.svg" alt="OneQode Logo">
			</a>
{% case section %}
	{%- when "gaming" -%}
		{%- include navigation/_navigation-gaming.liquid -%}
	{%- when "business" -%}
		{%- include navigation/_navigation-business.liquid -%}
	{%- when "wholesale" -%}
		{%- include navigation/_navigation-wholesale.liquid -%}
	{%- else -%}
		{%- include navigation/_navigation-gaming.liquid -%}
{%- endcase %}
		</div>
	</header>
	<main>