---

pageTitle: I am the hero text
pageSubtitle: I am a page subtitle
heroLinktext: Button Text
heroLinkurl: buttonurl.html
ogImage: og-image.jpg

---
{% include _header.liquid %}
	<!-- Page-Specific Styles -->
	<style>
		/* 4K Background Image */
		@media (min-width: 1920px) {
			.no-webp .hero {
				background: radial-gradient(circle at bottom,rgba(0,39,53,0.8) 0%,rgba(0,0,0,0.8) 100%), url("img/bg/home-4k.jpg") 60%;
				background-size: cover;
			}
			.webp .hero {
				background: radial-gradient(circle at bottom,rgba(0,39,53,0.8) 0%,rgba(0,0,0,0.8) 100%), url("img/bg/home-4k.webp") 60%;
				background-size: cover;
			}
		}
		/* Regular Background Image */
		@media (max-width: 1920px) {
			.no-webp .hero {
				background: radial-gradient(circle at bottom,rgba(0,39,53,0.8) 0%,rgba(0,0,0,0.8) 100%), url("img/bg/home-hd.jpg") 60%;
				background-size: cover;
			}
			.webp .hero {
				background: radial-gradient(circle at bottom,rgba(0,39,53,0.8) 0%,rgba(0,0,0,0.8) 100%), url("img/bg/home-hd.webp") 60%;
				background-size: cover;
			}
		}
	</style>

	<!-- Page Content -->
	<section class="hero full-height">
		<div class="container">
			<div class="row middle-xs">
				<div class="col-md-6">
					<h1>{{ pageTitle }}<mark class="dot">.</mark></h1>
					<p class="subheading">{{ pageSubtitle }}</p>
					<a href="{{ heroLinkurl }}" class="button ghost mt-2">{{ heroLinktext }}</a>
				</div>
			</div> 
		</div>
	</section>
{{ content }}
{% include _footer.liquid %}